@model CompilerError.Models.CustomerViewModel

@{
    Layout = "~/Views/Shared/_KLayout.cshtml";
    ViewBag.Title = "Search";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


</head>
<body>

    <h2>Search </h2>
    <from method='post' style='text-align:center'>
        <table>
           
                <tr>
                    <td>Search</td>
                    <th>@Html.TextBoxFor(c=>c.Name, Model.Name)</th>
                    <td><input type="submit"  value="search" /></td>
                </tr>
          
          
        </table>

    </from>
    <div>
        <table>
            <tr>
                <th>Sl</th>
                <th>Code</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Loyality Ponit</th>
                <th>Action</th>
            </tr>
            @{ int i = 1;}
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@customer.Code</td>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.Contact</td>
                    <td>@customer.Email</td>
                    <td>@customer.LoyalityPoint</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { Id = customer.Id })|
                    @Html.ActionLink("Update", "Update", new { Id = customer.Id })|
                </td>
            </tr>
        }

        </table>
    </div>
   
   
</body>
</html>

